//process {  
//    withName: CRABS_DOWNLOADTAXONOMY {
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/taxonomy" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: 'UNTAR_TAXDUMP' {
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/" },
//            mode: params.publish_dir_mode,
//            enabled: true,
//            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//        ]
//    }
//    withName: DOWNLOAD_MIDORI_LRRNA {
//        ext.prefix = "midori_lrrna"
//        ext.args = "--download-midori --gb-number ${params.midori_version} --gene lrRNA --gb-type uniq" 
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/midori" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_MIDORI_SRRNA {
//        ext.prefix = "midori_srrna"
//        ext.args = "--download-midori --gb-number ${params.midori_version} --gene srRNA --gb-type uniq" 
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/midori" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_MIDORI_CYTB {
//        ext.prefix = "midori_cytb"
//        ext.args = "--download-midori --gb-number ${params.midori_version} --gene Cytb --gb-type uniq" 
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/midori" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_MIDORI_CO1 {
//        ext.prefix = "midori_co1"
//        ext.args = "--download-midori --gb-number ${params.midori_version} --gene CO1 --gb-type uniq" 
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/midori" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_MIDORI_CO2 {
//        ext.prefix = "midori_co2"
//        ext.args = "--download-midori --gb-number ${params.midori_version} --gene CO2 --gb-type uniq" 
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/midori" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_MIDORI_CO3 {
//        ext.prefix = "midori_co3"
//        ext.args = "--download-midori --gb-number ${params.midori_version} --gene CO3 --gb-type uniq" 
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/midori" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_MITOFISH {
//        ext.prefix = "mitofish"
//        ext.args = "--download-mitofish" 
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/mitofish" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_METAFISH {
//        ext.prefix = "metafish"
//        ext.args = "--download-meta-fish-lib" 
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/metafish" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: CRABS_IMPORT_MIDORI {
//        ext.args = "--import-format midori"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/midori" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: CRABS_IMPORT_MITOFISH {
//        ext.args = "--import-format mitofish"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/mitofish" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_SILVA_16S {
//        ext.args = "--download-silva --gene SSU --db-type subset --db-version 138.2"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/silva_16S" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_SILVA_18S {
//        ext.args = "--download-silva --gene LSU --db-type subset --db-version 138.2"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/silva_18S" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: CRABS_IMPORT_SILVA_16S {
//        ext.args = "--import-format silva"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/silva_16S" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: CRABS_IMPORT_SILVA_18S {
//        ext.args = "--import-format silva"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/silva_18S" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_GREENGENES {
//        ext.args = "--download-greengenes"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/greengenes" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: CRABS_IMPORT_GREENGENES {
//        ext.args = "--import-format greengenes"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/greengenes" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: DOWNLOAD_GREENGENES2 {
//        ext.args = "--download-greengenes2"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/greengenes2" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: CRABS_IMPORT_GREENGENES2 {
//        ext.args = "--import-format greengenes2"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/greengenes2" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: CRABS_IMPORT_METAFISH {
//        ext.args = "--import-format meta-fish-lib"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/metafish" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: GUNZIP_REFSEQ {
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/refseq" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//    withName: CRABS_IMPORT_REFSEQ {
//        ext.args = "--import-format ncbi"
//        publishDir = [
//            path: { "${params.reference_base}/barbeque/${params.reference_version}/refseq" },
//            mode: params.publish_dir_mode,
//            enabled: true
//        ]
//    }
//}