process {  
    withName: 'DOWNLOAD_AND_COMBINE_DB' {
        publishDir = [
            path: { "${params.reference_base}/barbeque/${params.reference_version}/${meta.dir}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'UNTAR_TAXDUMP' {
        publishDir = [
            path: { "${params.reference_base}/barbeque/${params.reference_version}" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'GUNZIP_GENBANK' {
        publishDir = [
            path: { "${params.reference_base}/barbeque/${params.reference_version}/new_taxdump" },
            mode: params.publish_dir_mode,
            enabled: true,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
