params {
    //cutadapt default params
    //cutadapt_overlap = 18
    //cutadapt_error_rate = 0.12
    //cutadapt_options = ""
    cutadapt_mismatches = 2

    // Seqkit - Custom DB filtering
    custom_db_filter = true
    //custom_db_filter_pattern = "environmental|uncultured|metagenom|unidentified|unknown|unclassified|incertae[ ._-]?sedis|synthetic|artificial|construct|recombinant|transgenic|predicted|XM_|XR_|unverified|low[ ._-]?quality|contaminant|chimeric|misidentified"
    custom_db_filter_pattern = "environmental"
    custom_db_min_length = null
    custom_db_max_length = null
    custom_db_max_n = null

    //flat file with taxonomy
    accession_taxonomy = null

    //taxdump = null
    interactive = false

    //mask_centre
    mask_centre = false
    read_length = 150

    input = null
    outdir = "results"

    help = false

    run_name = null

    dbs = null
    custom_db = null

    cluster_id = 0.97

    taxon = null
    completeness_table = null
    crabs_insilicopcr_options = ""

    build_references = false
    reference_base = null
    reference_version = "1.1"

    plaintext_email = false
    //conda.enabled   = false
    singularity.enabled = false
    docker.enabled = false
    podman.enabled = false
    apptainer.enabled = false

    list_dbs = false
    midori_version = "265_2025-03-08"

    multiqc_config = "${baseDir}/conf/multiqc_config.yaml"
    multiqc_logo = "${baseDir}/assets/pipelinelogo.png"

    publish_dir_mode = 'copy'
    custom_config_base = "https://raw.githubusercontent.com/bio-raum/nf-configs/main"
}

manifest {
    name = "bio-raum/BarBeQuE"
    version = "0.6"
    description = "BarBeQuE"
    author = "MH"
    homePage = "https://github.com/bio-raum/BarBeQuE"
    nextflowVersion = "24.10.5"
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

plugins {
    id 'nf-schema@2.4.0'
}

validation {
    help {
        enabled = true
    }
    summary {
        hideParams = ["references", "multiqc_config", "multiqc_logo", "reference_version"]
    }
}

timeline {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_timeline.html"
}
report {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_report.html"
}
trace {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_trace.txt"
}
dag {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

// Custom options for some modules
includeConfig 'conf/modules.config'
includeConfig 'conf/modules/installation.config'

// Load centrally stored profiles
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/custom.config" : "/dev/null"

// Default configs to load for all profiles
includeConfig 'conf/base.config'
includeConfig 'conf/resources.config'

profiles {

    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        conda.enabled = false
        apptainer.enabled = false
    }
    singularity {
        docker.enabled = false
        podman.enabled = false
        conda.enabled = false
        apptainer.enabled = false
        singularity.enabled = true
    }
    podman {
        docker.enabled = false
        singularity.enabled = false
        conda.enabled = false
        apptainer.enabled = false
        podman.enabled = true
    }
    conda {
        docker.enabled = false
        podman.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        conda.enabled = true
    }
    apptainer {
        apptainer.enabled = true
        docker.enabled = false
        podman.enabled = false
        singularity.enabled = false
        conda.enabled = false
    }
    test {
        includeConfig 'conf/test.config'
    }
}
