process {

    publishDir = [path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }, mode: params.publish_dir_mode, enabled: false]

    // One report per primer and database
    withName: MULTIQC {
        publishDir = [path: { "${params.outdir}/reports/individual" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    // One report with every primer and database together
    withName: MULTIQC_COMBINED {
        ext.prefix = 'all_primers'
        publishDir = [path: { "${params.outdir}/reports/combined" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: 'STAGE_SAMPLESHEET|CUSTOM_DUMPSOFTWAREVERSIONS' {
        publishDir = [path: { "${params.outdir}/pipeline_info" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: OBIPCR_INSILICOPCR {
        publishDir = [path: { "${params.outdir}/raw/obipcr" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: FILTER_OBIPCR {
        publishDir = [path: { "${params.outdir}/filtered_obipcr" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: PARSE_OBIPCR {
        publishDir = [path: { "${params.outdir}/parsed_obipcr" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }


    withName: VSEARCH_CLUSTER_FAST {
        ext.args = "--id ${params.cluster_id}"
        publishDir = [path: { "${params.outdir}/cluster_fast" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: CLUSTER_CONSENSUS {
        ext.args = "--min-consensus ${params.consensus_fraction}"
        publishDir = [path: { "${params.outdir}/consensus" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }

    withName: TAXONOMIC_COVERAGE {
        publishDir = [path: { "${params.outdir}/tax_coverage" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    //
    withName: BUILD_DB_TAXIDS {
        publishDir = [path: { "${params.outdir}/build_db_taxids" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: TAXID_DB_FILTER {
        publishDir = [path: { "${params.outdir}/taxid_filtered" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: DB_DISTRIBUTION {
        publishDir = [path: { "${params.outdir}/db_distribution" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: JOIN_ACCESSION_TAXONOMY {
        publishDir = [path: { "${params.outdir}/join_accession_taxonomy" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
    withName: 'PARSE_PRIMERS' {
        publishDir = [path: { "${params.outdir}/primers" }, mode: params.publish_dir_mode, enabled: true, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }]
    }
}
