params {
  reference_sources = [

    // NCBI taxonomy dump - needed to build ch_taxdump. Off by default (--install_taxdump).
    ncbi_taxdump: [
      url: 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz',
      unpack: 'untar',
      format: 'directory'
    ],

    // NCBI accession2taxid mapping (~340M) - used to resolve --accession_taxonomy when not
    // supplied by the user. Off by default (--install_genbank), it's a large download.
    ncbi_genbank_accession2taxid: [
      url: 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz',
      unpack: 'gunzip',
      format: 'tsv'
    ],

    // MIDORI2 current: GenBank271_2026-04-07
    // Gene tokens: A6,A8,CO1,CO2,CO3,Cytb,ND1,ND2,ND3,ND4,ND5,ND6,lrRNA,srRNA
    midori2_co1: [
      url: 'https://www.reference-midori.info/download/Databases/GenBank271_2026-04-07/RAW/longest/MIDORI2_LONGEST_NUC_GB271_CO1_RAW.fasta.gz',
      unpack: 'gunzip',
      format: 'fasta'
    ],

    midori2_cytb: [
      url: 'https://www.reference-midori.info/download/Databases/GenBank271_2026-04-07/RAW/longest/MIDORI2_LONGEST_NUC_GB271_Cytb_RAW.fasta.gz',
      unpack: 'gunzip',
      format: 'fasta'
    ],

    midori2_12s_srrna: [
      url: 'https://www.reference-midori.info/download/Databases/GenBank271_2026-04-07/RAW/longest/MIDORI2_LONGEST_NUC_GB271_srRNA_RAW.fasta.gz',
      unpack: 'gunzip',
      format: 'fasta'
    ],

    midori2_16s_lrrna: [
      url: 'https://www.reference-midori.info/download/Databases/GenBank271_2026-04-07/RAW/longest/MIDORI2_LONGEST_NUC_GB271_lrRNA_RAW.fasta.gz',
      unpack: 'gunzip',
      format: 'fasta'
    ],

    mitofish_latest: [
      url: 'https://mitofish.aori.u-tokyo.ac.jp/download/fullseq/latest/mitofishdb.fa.gz',
      unpack: 'gunzip',
      format: 'fasta'
    ],

    metafishlib_master: [
      url: 'https://raw.githubusercontent.com/genner-lab/meta-fish-lib/main/assets/reference-library-master.csv.gz',
      unpack: 'gunzip',
      format: 'csv'
    ],

    // SILVA SSU = 16S/18S. Recommended NR99 truncated unaligned FASTA for amplicon work.
    silva_ssu_16s_18s_nr99_trunc: [
      url: 'https://www.arb-silva.de/fileadmin/silva_databases/current/Exports/SILVA_138.2_SSURef_NR99_tax_silva_trunc.fasta.gz',
      unpack: 'gunzip',
      format: 'fasta'
    ],

    // Alternative SILVA SSU NR99 non-truncated file.
    silva_ssu_16s_18s_nr99: [
      url: 'https://www.arb-silva.de/fileadmin/silva_databases/current/Exports/SILVA_138.2_SSURef_NR99_tax_silva.fasta.gz',
      unpack: 'gunzip',
      format: 'fasta'
    ],

    greengenes2_seqs: [
      url: 'https://ftp.microbio.me/greengenes_release/current/2024.09.seqs.fna.gz',
      unpack: 'gunzip',
      format: 'fasta'
    ],

    greengenes2_taxonomy_id: [
      url: 'https://ftp.microbio.me/greengenes_release/current/2024.09.taxonomy.id.tsv.gz',
      unpack: 'gunzip',
      format: 'tsv'
    ],

    // Legacy Greengenes 13_8, 99% OTU representatives.
    greengenes_13_8_99_otus: [
      url: 'https://ftp.microbio.me/greengenes_release/gg_13_8_otus/rep_set/99_otus.fasta',
      unpack: 'none',
      format: 'fasta'
    ],

    greengenes_13_8_99_taxonomy: [
      url: 'https://ftp.microbio.me/greengenes_release/gg_13_8_otus/taxonomy/99_otu_taxonomy.txt',
      unpack: 'none',
      format: 'tsv'
    ]
  ]
}
