// Non-FASTA support files used by --build_references.
params {
  reference_sources = [
    ncbi_taxdump: [
      url: 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/new_taxdump/new_taxdump.tar.gz'
    ],
    ncbi_genbank_accession2taxid: [
      url: 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/accession2taxid/nucl_gb.accession2taxid.gz'
    ]
  ]
}
