params {
  references {
    /*
     * Add a database here and --build_references installs it automatically.
     * All databases are written to:
     *   <reference_base>/barbeque/<version>/databases/<id>/<id>.fasta
     */
    databases {
      'refseq_mito' {
        urls = ['https://ftp.ncbi.nlm.nih.gov/genomes/refseq/mitochondrion/mitochondrion.1.1.genomic.fna.gz']
        format = 'fasta'
        release = 'rolling'
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/refseq_mito/refseq_mito.fasta"
        description = 'RefSeq mitochondrial genomes'
      }
      'refseq_plastid' {
        urls = [
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plastid/plastid.1.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plastid/plastid.2.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plastid/plastid.3.1.genomic.fna.gz'
        ]
        format = 'fasta'
        release = 'rolling'
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/refseq_plastid/refseq_plastid.fasta"
        description = 'RefSeq plastid genomes'
      }
      'refseq_plasmid' {
        urls = [
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.1.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.1.2.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.2.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.2.2.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.3.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.3.2.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.4.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.4.2.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.5.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.5.2.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.6.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.6.2.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.7.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.7.2.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.8.1.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.8.2.genomic.fna.gz',
          'https://ftp.ncbi.nlm.nih.gov/genomes/refseq/plasmid/plasmid.9.1.genomic.fna.gz'
        ]
        format = 'fasta'
        release = 'rolling'
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/refseq_plasmid/refseq_plasmid.fasta"
        description = 'RefSeq plasmid sequences'
      }
      'midori_lrrna' {
        urls = ["https://www.reference-midori.info/download/Databases/GenBank${params.midori_version}/RAW/longest/MIDORI2_LONGEST_NUC_GB${params.midori_version.tokenize('_')[0]}_lrRNA_RAW.fasta.gz"]
        format = 'fasta'
        release = params.midori_version
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/midori_lrrna/midori_lrrna.fasta"
        description = "MIDORI2 lrRNA (${params.midori_version})"
      }
      'midori_srrna' {
        urls = ["https://www.reference-midori.info/download/Databases/GenBank${params.midori_version}/RAW/longest/MIDORI2_LONGEST_NUC_GB${params.midori_version.tokenize('_')[0]}_srRNA_RAW.fasta.gz"]
        format = 'fasta'
        release = params.midori_version
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/midori_srrna/midori_srrna.fasta"
        description = "MIDORI2 srRNA (${params.midori_version})"
      }
      'midori_cytb' {
        urls = ["https://www.reference-midori.info/download/Databases/GenBank${params.midori_version}/RAW/longest/MIDORI2_LONGEST_NUC_GB${params.midori_version.tokenize('_')[0]}_Cytb_RAW.fasta.gz"]
        format = 'fasta'
        release = params.midori_version
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/midori_cytb/midori_cytb.fasta"
        description = "MIDORI2 Cytb (${params.midori_version})"
      }
      'midori_co1' {
        urls = ["https://www.reference-midori.info/download/Databases/GenBank${params.midori_version}/RAW/longest/MIDORI2_LONGEST_NUC_GB${params.midori_version.tokenize('_')[0]}_CO1_RAW.fasta.gz"]
        format = 'fasta'
        release = params.midori_version
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/midori_co1/midori_co1.fasta"
        description = "MIDORI2 CO1 (${params.midori_version})"
      }
      'midori_co2' {
        urls = ["https://www.reference-midori.info/download/Databases/GenBank${params.midori_version}/RAW/longest/MIDORI2_LONGEST_NUC_GB${params.midori_version.tokenize('_')[0]}_CO2_RAW.fasta.gz"]
        format = 'fasta'
        release = params.midori_version
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/midori_co2/midori_co2.fasta"
        description = "MIDORI2 CO2 (${params.midori_version})"
      }
      'midori_co3' {
        urls = ["https://www.reference-midori.info/download/Databases/GenBank${params.midori_version}/RAW/longest/MIDORI2_LONGEST_NUC_GB${params.midori_version.tokenize('_')[0]}_CO3_RAW.fasta.gz"]
        format = 'fasta'
        release = params.midori_version
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/midori_co3/midori_co3.fasta"
        description = "MIDORI2 CO3 (${params.midori_version})"
      }
      'mitofish' {
        urls = ['https://mitofish.aori.u-tokyo.ac.jp/download/fullseq/latest/mitofishdb.fa.gz']
        format = 'fasta'
        release = 'rolling'
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/mitofish/mitofish.fasta"
        description = 'MitoFish full mitochondrial sequences'
      }
      'metafish' {
        urls = ['https://raw.githubusercontent.com/genner-lab/meta-fish-lib/1153c5ae4688635bb66d7d9de7093962f92ea079/assets/reference-library-master.csv.gz']
        format = 'metafish_csv'
        release = '1153c5ae4688635bb66d7d9de7093962f92ea079'
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/metafish/metafish.fasta"
        description = 'MetaFish reference library'
      }
      'silva_ssu' {
        urls = ['https://www.arb-silva.de/fileadmin/silva_databases/current/Exports/SILVA_138.2_SSURef_NR99_tax_silva_trunc.fasta.gz']
        format = 'fasta'
        release = '138.2'
        db = "${params.reference_base}/barbeque/${params.reference_version}/databases/silva_ssu/silva_ssu.fasta"
        description = 'SILVA 138.2 SSU NR99 (16S and 18S)'
      }

      // Externally managed; --build_references does not download it.
      'core_nt' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/core_nt/core_nt"
        description = 'NCBI core_nt BLAST database, shared read-only with FooDMe2'
        prebuilt = true
      }
    }

    taxdump_source = 'ncbi_taxdump'
    taxdump = "${params.reference_base}/barbeque/${params.reference_version}/taxonomy/new_taxdump"
  }
}
