params {

  references {

    databases {

      'refseq_mito' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/refseq/mitochondrion/mitochondrion.genomic.fna"
        description = "RefSeq Mitochondria 1.1"
      }
      'refseq_plastid' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/refseq/plastid/plastid.genomic.fna"
        description = "RefSeq Plastid"
      }
      'refseq_plasmid' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/refseq/plasmid/plasmid.genomic.fna"
        description = "RefSeq Plasmid"
      }
      'midori_lrrna' {
        source = "midori2_16s_lrrna"
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_lrrna.txt"
        description = "Midori lrRNA database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_srrna' {
        source = "midori2_12s_srrna"
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_srrna.txt"
        description = "Midori srRNA database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_cytb' {
        source = "midori2_cytb"
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_cytb.txt"
        description = "Midori Cytb database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_co1' {
        source = "midori2_co1"
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_co1.txt"
        description = "Midori CO1 database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_co2' {
        // no source URL provided yet in params.reference_sources - not installable via build_references
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_co2.txt"
        description = "Midori CO2 database with all unique entries (Genbank ${params.midori_version})"
      }
      'midori_co3' {
        // no source URL provided yet in params.reference_sources - not installable via build_references
        db = "${params.reference_base}/barbeque/${params.reference_version}/midori/midori_co3.txt"
        description = "Midori CO3 database with all unique entries (Genbank ${params.midori_version})"
      }
      'mitofish' {
        source = "mitofish_latest"
        db = "${params.reference_base}/barbeque/${params.reference_version}/mitofish/mitofish.txt"
        description = "Mitofish database (not versioned!)"
      }
      'metafish' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/metafish/metafish.txt"
        description = "Metafish-lib database (not versioned!)"
      }
      'silva_16S' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/silva_16S/silva_16S.txt"
        description = "Silva 16S rRNA database 138.2"
      }
      'silva_18S' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/silva_18S/silva_18S.txt"
        description = "Silva 18S rRNA database 138.2"
      }
      'greengenes' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/greengenes/greengenes.txt"
        description = "Greengenes database (not versioned!)"
      }
      'greengenes2' {
        db = "${params.reference_base}/barbeque/${params.reference_version}/greengenes2/greengenes2.txt"
        description = "Greengenes2 database (not versioned!)"
      }
    }
    taxdump_source = "ncbi_taxdump"
    taxdump = "${params.reference_base}/barbeque/${params.reference_version}/new_taxdump"
    
  }
}